.container {
  /* width: 235px; */
  border-radius: 3%;
  border: 2px solid #000000;
}

.info {
  display: flex;
  flex-direction: column;
}

.avatar {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  background: #262626;
  border-radius: 50%;
}

.username {
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
}

.tag {
  color: grey;
}

.location {
  color: grey;
  padding-bottom: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid grey;
}

.item {
  /* gap: 10px; */
  width: 70px;
  display: flex;
  flex-direction: column;
  background-color: #bfbfbf;
  padding: 10px;
}

.item:nth-last-child(2),
.item:nth-last-child(3) {
  border-right: 2px solid grey;
}

.numbers {
  font-weight: 700;
  padding-bottom: 5px;
}
